/* ----------------hero section-------------------- */
body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
}


.hero-section {
  color: white; 
  background-image: url('./images/about-hero-banner.png'); 
  background-size: cover; 
  background-position: center; 
  min-height: 400px; 
  display: flex;
  align-items: flex-end; /* Aligns content to the bottom */
  justify-content: flex-start; /* Aligns content to the left */
  text-align: left;
  padding: 0;
  padding-bottom: 20px; /* Bottom padding to move content up slightly from the very bottom */
}

.hero-section h1 {
  font-size: 45px;
  text-align: left;
  margin: 0;
}

@media (max-width: 768px) {
  .hero-section h1  {
    color: #fff;
    font-size: 35px;
  }
  .hero-section {
    padding-bottom: 10px; /* Slightly less bottom padding */
  }
  .hero-section h1 {
    font-size: 2.5rem; /* Smaller font size */
  }
}

@media (max-width: 480px) {
  .hero-section {
    padding-bottom: 5px; /* Minimal bottom padding */
  }
  .hero-section h1 {
    font-size: 2.2rem; /* Smaller font size for mobile screens */
  }
}

@media (min-width: 768px) {
  .hero-section {
    padding-bottom: 30px; /* More bottom padding for aesthetic balance */
  }
  .hero-section h1 {
    font-size: 3.5rem; /* Larger font size for better visibility on bigger screens */
  }
  .overlay-content {
    max-width: 70%; /* Larger max-width for a more extended text line */
  }
}

.overlay-content {
  max-width: 90%;
}

/* ----------------------------------------- */
.container {
  /* display: flex; */

  width: 100%;
  margin-bottom: 20px;
}

.who-we-are-section {
  width: 100%; /* Adjust width as needed to fit your design */
  text-align: left;
}

.who-we-are-title {
  font-size: 2em; /* Adjust font-size as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
}

.who-we-are-content {
  font-size: 1.2em; /* Adjust font-size as needed */
  margin-top: 20px; /* Adjust margin as needed */
}

@media (max-width: 768px) {
  .who-we-are-section {
      width: 90%; /* Adjust width as needed */
  }

  .who-we-are-title {
      font-size: 1.5em; /* Adjust font-size as needed */
  }

  .who-we-are-content {
      font-size: 1em; /* Adjust font-size as needed */
  }
}


/* -------------------------------mission vision---------------------------------------------- */
.vision-mission-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  text-align: left;
  box-sizing: border-box; 
}

.vision-mission-section {
  flex-basis: calc(50% - 20px); 
  max-width: 50%;
  box-sizing: border-box;
  padding-left: 0;
}

.vision-mission-title {
  color: #003366;
  margin-bottom: 0.1em;
  padding-left: 0;
}

.vision-mission-tagline {
  padding-left: 0;
  font-weight: 600;
  margin-bottom: 0.1em;

}

.vision-mission-image-container {
  width: 100%; 
  overflow: hidden; 
}

.vision-mission-image {
  width: 100%;
  object-fit: cover; 
}

.vision-mission-text {
  color: #333;
}

@media (min-width: 768px) {
  .vision-mission-container {
    gap: 30px; 
  }
  .vision-mission-section {
    flex-basis: calc(50% - 30px); 
  }
  
}

/* core values */
.container-core-values {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; Adjust this to fit your container's height */
}
.values-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust minmax value as needed */
    gap: 20px; /* Adjust the gap as needed */
    width: 100%; /* Adjust width as needed to fit your design */
}

.value-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional styling */
    border-radius: 10px; /* Optional styling */
    aspect-ratio: 1; /* Maintain a square ratio */
    background-color: #003366;
    color: #fff;
}
.value-card p{
  margin-top: 10px;
}

/* story section */
.story-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; Adjust this if needed */
}

.story-container {
  width: 100%; /* Adjust width as needed to fit your design */
  text-align: center;
}

.story-title {
  margin-bottom: 20px; /* Adjust margin as needed */
}

.founder-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Adjust gap as needed */
  width: 80%;
}

.founder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.founder-image {
  height: 30%;
  width:80%;
  object-fit: cover; /* Ensure the image maintains its aspect ratio */
  border-radius: 10px; /* Optional styling */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional styling */
}

.founder-content {
  flex: 2;
  text-align: left;
  max-width: 600px; /* Adjust max-width as needed */
}

@media (max-width: 768px) {
  .founder-section {
      flex-direction: column;
  }

  .founder-image {
      height: auto;
      width: 100%;
  }

  .founder-content {
      text-align: center;
  }
}


/* leadership */
.leadership-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.leadership-container {
  width: 100%; /* Adjust width as needed to fit your design */
  text-align: center;
}

.vision-mission-title {
  margin-bottom: 20px; /* Adjust margin as needed */
}

.leaders-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust gap as needed */
}

.leader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px; /* Adjust width as needed */
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional styling */
  border-radius: 10px; /* Optional styling */
}

.leader-image {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Optional styling */
  object-fit: cover; /* Ensure the image maintains its aspect ratio */
}

.leader-title {
  margin-top: 10px; /* Adjust margin as needed */
  font-weight: bold;
}

.leader-role {
  margin-top: 5px; /* Adjust margin as needed */
  font-style: italic;
}

@media (max-width: 768px) {
  .leaders-container {
      flex-direction: column;
      align-items: center;
  }

  .leader {
      width: 100%;
  }
}


/* tech & innovation */

.tech-innovation-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust gap as needed */
  width: 100%; /* Adjust width as needed to fit your design */
}

.tech-innovation-content {
  flex: 1;
  max-width: 600px; /* Adjust max-width as needed */
}

.tech-innovation-text {
  margin-bottom: 20px; /* Adjust margin as needed */
}

.tech-innovation-list {
  list-style: none;
  padding: 0;
}

.tech-innovation-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.tech-innovation-list img {
  display: flex;
  margin-right: 10px;
}


.tech-innovation-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-image {
  width: 80%;
  height: auto;
  border-radius: 10px; /* Optional styling */
  object-fit: cover; /* Ensure the image maintains its aspect ratio */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional styling */
}

@media (max-width: 768px) {
  .tech-innovation-section {
      flex-direction: column;
  }

  .tech-innovation-content, .tech-innovation-image {
      width: 100%;
  }
}
/* partnership section */


.partnership-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 20px;
  width: 100%; /* Adjust width as needed to fit your design */
}

.partnership-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partnership-image {

  width: 60%;
  height: 30%;
  /* max-width: 300px; Adjust max-width as needed */
  object-fit: cover; /* Ensure the image maintains its aspect ratio */
  border-radius: 10px; /* Optional styling */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional styling */
}

.partnership-text {
  flex: 2;
  max-width: 600px; /* Adjust max-width as needed */
}

.vision-mission-title {
  margin-bottom: 20px; /* Adjust margin as needed */
}

@media (max-width: 768px) {
  .partnership-section {
      flex-direction: column;
  }

  .partnership-image {
      max-width: 100%;
  }

  .partnership-text {
      text-align: center;
  }
}


/* infrastructure */


.infrastructure-content {
  padding: 0px;
  width: 100%; /* Adjust width as needed to fit your design */
  text-align: center;
}

.infrastructure-image-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px; /* Adjust gap as needed */
  margin-bottom: 10px; /* Adjust margin as needed */
}

.infrastructure-img {
  padding: 0%;
  width: 50%;
  height: 100%;
  border-radius: 10px; /* Optional styling */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional styling */
}

.infrastructure-text {
  text-align: left;
  margin-top: 20px; /* Adjust margin as needed */
}

@media (max-width: 768px) {
  .infrastructure-image-container {
      flex-direction: column;
  }

  .infrastructure-img {
      max-width: 100%;
  }

  .infrastructure-text {
      text-align: center;
  }
}