/* ----------------hero section-------------------- */
.hero-section {
  color: white; 
  background-image: url('./images/about-hero-banner.png'); 
  background-size: cover; 
  background-position: center; 
  min-height: 400px; 
  display: flex;
  align-items: flex-end; /* Aligns content to the bottom */
  justify-content: flex-start; /* Aligns content to the left */
  text-align: left;
  padding: 0;
  padding-bottom: 20px; /* Bottom padding to move content up slightly from the very bottom */
}

.hero-section h1 {
  font-size: 45px;
  text-align: left;
  margin: 0;
}

@media (max-width: 768px) {
  .hero-section h1  {
    color: #fff;
    font-size: 35px;
  }
  .hero-section {
    padding-bottom: 10px; /* Slightly less bottom padding */
  }
  .hero-section h1 {
    font-size: 2.5rem; /* Smaller font size */
  }
}

@media (max-width: 480px) {
  .hero-section {
    padding-bottom: 5px; /* Minimal bottom padding */
  }
  .hero-section h1 {
    font-size: 2.2rem; /* Smaller font size for mobile screens */
  }
}

@media (min-width: 768px) {
  .hero-section {
    padding-bottom: 30px; /* More bottom padding for aesthetic balance */
  }
  .hero-section h1 {
    font-size: 3.5rem; /* Larger font size for better visibility on bigger screens */
  }
  .overlay-content {
    max-width: 70%; /* Larger max-width for a more extended text line */
  }
}

.overlay-content {
  max-width: 90%;
}

/* ----------------------------------------- */
.who-we-are-section {
  background-color: #fff; 
  width: 100%;
  padding: 20px 0; 
  text-align: left;
  padding-left: 10px;
}

.who-we-are-title, .vision-mission-title {
  color: #003366; 
  font-size: 2.5rem; 
  margin-bottom: 1rem; 
}

.who-we-are-content, .vision-mission-text, .infrastructure-text {
  color: #003366; 
  font-size: 1rem;
  line-height: 1.5;
}

.vision-mission-container, .values-container, .story-container, .leadership-container, .tech-innovation-section, .partnership-section, .infrastructure-content {
  margin-bottom: 2rem;
}

/* -------------------------------mission vision---------------------------------------------- */
.vision-mission-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: space-between; 
  text-align: left;
  box-sizing: border-box; 
}

.vision-mission-section {
  flex-basis: calc(50% - 20px); 
  max-width: 50%;
  box-sizing: border-box;
  padding-left: 0;
}

.vision-mission-title {
  font-size: 2em;
  color: #003366;
  margin-bottom: 0.5em;
  padding-left: 0;
}

.vision-mission-tagline {
  margin-bottom: 0.5em;
  padding-left: 0;
}

.vision-mission-image-container {
  width: 100%; 
  overflow: hidden; 
}

.vision-mission-image {
  width: 100%;
  height: auto;
  object-fit: cover; 
}

.vision-mission-text {
  font-size: 1em;
  color: #333;
}

@media (min-width: 768px) {
  .vision-mission-container {
    gap: 30px; 
  }
  .vision-mission-section {
    flex-basis: calc(50% - 30px); 
  }
  .vision-mission-title {
    font-size: 2.5em; 
  }
  .vision-mission-tagline {
    font-size: 1.75em; 
  }
  .vision-mission-text {
    font-size: 1.2em; 
  }
}

/* ---------------------------core values--------------------------------------- */
.values-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 0;
}

.value-card {
  flex: 0 0 30%; 
  margin-right: 2%; 
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background: #003366;
  border-radius: 8px;
  color: #f9f9f9;
}

.value-card h5 {
  margin-top: 100px;
}

.value-card:nth-child(3n) {
  margin-right: 0;
}

.value-icon {
  height: 160px;
  width: 45px;
}

@media (max-width: 768px) {
  .value-card {
    flex: 0 0 100%; 
    margin-right: 0;
  }
}

/* --------------------story number------------------ */
.story-container h1 {
  color: #003366;
}

.story-grid {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  text-align: center;
}

.story-item {

  width: 20%; 
  box-sizing: border-box;
  margin-bottom: 20px; 
  text-align: center;
}

.story-item h3 {
  font-size: 1.8em;
  color: #ff8800;
  margin-bottom: 5px; 
  font-weight: 900;

}

.story-item p {
  font-size: 1em;
  color: #666;
}

.story-detail {
  text-align: justify;
  padding: 20px;
  font-size: 1em;
  color: #444;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .story-item {
    padding-left: 30px;
    width:100%; 
    align-items: center;
  }

}

@media (max-width: 480px) {
  .story-item {
    width: 100%; 
  }

}

/* --------------------founder section------------------ */
.founder-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.founder-content {
  font-size: 18px;
  flex: 0 1 80%; 
  padding-right: 20px; 
}

.founder {
  flex: 0 1 20%; 
  text-align: center; 
}

.founder img {
  width: 350px; 
  height: auto; 
  padding-right: 30px;
}

@media (max-width: 768px) {
  .founder-section {
    flex-direction: column;
    align-items: center;
  }
  .founder-content, .founder {
    padding-top: 20px;
    flex: 0 0 100%; 
    padding-right: 0; 
  }
  .founder img {
    max-width: 100%; 
  }
}

/* --------------------leadership section------------------ */
.leadership-title {
  font-size: 2.5em;
  color: #003366; 
  margin-bottom: 30px;
}

.leaders-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.leader {
  width: 250px;
  text-align: center;
  margin-bottom: 1rem;
}

.leader img {
  width: 100%;
  height: auto;
}

.leader-title {
  font-size: 1.2em;
  color: #003366; 
  margin-top: 10px;
}

.leader-role {
  font-size: 1em;
  color: #666; 
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .leader {
    width: 150px;
  }
}

/* --------------------modal section------------------ */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  overflow-y: scroll;
  height: 400px;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
}

.modal-title, .modal-role {
}

.modal-image {
  width: 450px;
  height: 250px;
  margin-right: 20px;
  object-fit: cover;
}

.close-button {
  color: #ff6200;
  float: right;
  font-size: 28px;
  /* font-weight: bold; */
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* --------------------tech innovation section------------------ */
.tech-innovation-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tech-innovation-content {
  width: 50%;
  padding-right: 20px;
}

.tech-innovation-content h4 {
  color: #003366;
  /* font-weight: 600; */
  padding-top: 20px;
}

.tech-innovation-title {
  font-size: 2.5em;
  color: #003366; 
}

.tech-innovation-text {
  font-size: 1em;
  margin-bottom: 20px;
  color: #333; 
}

.tech-innovation-list {
  margin-top: 30px;
  display: flex;
  list-style: none; 
}

.tech-innovation-list li {
  margin-bottom: 10px;
  padding-right: 20px;
}

.tech-innovation-list img {
  margin-right: 1rem;
}

.tech-innovation-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.tech-innovation-image img {
  width: 100%;
  height: 300px;
}

.tech-innovation-lst {
  padding-left: 15px;
  padding-right: 30px;
}

@media (max-width: 768px) {
  .tech-innovation-section {
    flex-direction: column;
  }
  .tech-innovation-content,
  .tech-innovation-image {
    width: 100%;
  }
  .tech-innovation-image img {
    margin-top: 20px;
  }
}

/* --------------------partnership section------------------ */
.partnership-section {
  display: flex;
  align-items: center;
}

.partnership-logo {
  flex-basis: 150px; 
  padding-right: 20px;
}

.partnership-logo img {
  width: 300px;
  height: 280px;
  background-color: rgb(231, 233, 233);
}

.partnership-content {
  flex-grow: 1; 
  text-align: left;
}

.partnership-content h1 {
  color: #003366; 
  text-align: left;
}

.partnership-content p {
  color: #333;
  line-height: 1.6;
  font-size: 1em;
}

.partnership-content a {
  color: #003366; 
  text-decoration: none;
}

.partnership-content a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .partnership-section {
    flex-direction: column;
    text-align: center;
  }
  .partnership-logo {
    padding-bottom: 20px; 
  }
}

/* --------------------infrastructure section------------------ */
.infrastructure-section {
  width: 750px; 
  margin: auto; 
  padding: 20px;
  background-color: #f9f9f9; 
}

.infrastructure-title {
  text-align: left;
  color: #003366; 
  font-size: 2.5em;
  margin-bottom: 20px; 
}

.infrastructure-content {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
}

.infrastructure-image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.infrastructure-img {
  width: 48%; 
  height: 300px;
}

@media (max-width: 768px) {
  .infrastructure-section {
    width: 100%; 
  }
}

body {
  margin: 0;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
